.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

.calendar-header, .week {
    width: 100%;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.week {
    font-weight: normal;
}

.calendar-body {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.day {
    border: 1px solid rgba(145, 145, 145, 0.578);
    min-height: min(10em, calc(100vw / 7));
}

.day-header {
    font-weight: bold;
    text-align: left;
    padding-left: 0.25em;
}

.day-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
}

.today {
    border: 2px solid black;
}

.calendar-header .day {
    min-height: auto;
}

.invalid-day {
    background-color: rgba(200, 200, 200, 0.1);
}

.invalid-day .office-hour,
.invalid-day .day-header {
    visibility: hidden;
}

.office-hour {
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 0.5em;
    width: 95%;
    cursor: pointer;
}

.arrows {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
    align-items: center;
}

.arrow {
    width: 2em;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    border: 1px solid black;
    border-radius: 0.25em; 
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.search {
    display: flex;
    align-items: center;
    width: 60%;
}

.search input {
    padding: 0.25em 0.5em;
    padding-right: 2.3em;
}

.sort-by {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 0.5em;
}

.sort-options {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    gap: 1em;
}

.sort-option {
    align-items: center;
}

@media (width < 600px) {
    .calendar {
        font-size: 0.5em;
        margin-top: 2em;
    }

    .subtitle {
        font-size: 0.6em;
    }

    .arrow {
        width: 1.5em;
    }

    .sort-by {
        font-size: 0.6em;
    }
    
    .sort-by input {
        width: 1em;
    }
    .search {
        width: 80%;
        font-size: 0.6em;
    }
}