.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 1em;
}

.host {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    /* border: 1px solid black; */
    padding: 1em 2em;
    border-radius: 1em;
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    flex-wrap: wrap;
}

.host img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

.host-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    text-wrap: wrap;
    text-align: left;
}

.queue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.queue-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    /* border: 1px solid black; */
    border-radius: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5em;
    gap: 1em;
}

.queue-item img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.queue-item button {
    font-size: 0.8em;
}

.description {
    /* max-width: 80%; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.chatbox {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 45em;
    padding: 1em;
    width: 100vw;
    border: 1px solid black;
    border-radius: 1em 1em 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    padding-bottom: 3em;
    scrollbar-width: thin;
}

.chatbox::-webkit-scrollbar {
    display: none;
    margin-left: 0.2em;
}

.chatbox-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-height: 40em;
    overflow-y: scroll;
    padding-bottom: 1em;
}

.message {
    display: flex;
    align-items: center;
    gap: 0.2em;
    width: 100%;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.chatbox img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.chat-message-text {
    background-color: rgb(112, 3, 3);
    color: white;
    border-radius: 0.5em;
    margin-left: auto;
    height: 100%;
    max-width: min(20em, 50%);
    padding: 0.35em;
    max-height: 35em;
    overflow-y: scroll;
    text-align: left;
}

.timestamp-right {
    font-size: 0.75em;
    width: calc(100% - 10em);
    text-align: right;
    margin-top: -1em;
    margin-bottom: -1em;
}

.timestamp-left {
    font-size: 0.75em;
    width: calc(100% - 10em);
    text-align: left;
    margin-top: -1em;
    margin-bottom: -1em;
}

.left .chat-message-text {
    margin-left: 0;
    margin-right: auto;
}

.chat-input {
    display: flex;
    justify-content: center;
    width: 100%;
}

.send-button {
    width: 2em;
    height: 2em;
    cursor: pointer;
    position: relative;
    left: -1.5em;
}

.chat-input input {
    position: relative;
    left: 1.5em;
    padding-right: 2.75em;
    padding-left: 0.5em;
    width: 100%;
    max-width: 35em;
}

input {
    border: 1px solid black;
    border-radius: 9998px;
    padding: 0.25em 0.5em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.no-messages {
    font-size: 1.5em;
    font-weight: bold;
}

@media (width < 1200px) {
    .host {
        width: 80%;
    }
}

@media (width < 800px) {
    .main {
        font-size: 0.8em;
    }
    
    .host {
        width: 100%;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        padding: 0.5em 1em;
    }

    .host img {
        width: 5em;
        height: 5em;
    }

    .host-info {
        flex: 1;
    }

    .queue {
        width: 100%;
    }

    .queue-item {
        width: 100%;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    .queue-item-info {
        flex: 1;
    }

    .chatbox {
        border-right: 0;
        border-left: 0;
        width: 100%;
        border-radius: 0;
        max-width: 100%;
    }

    .chat-input {
        width: 90%;
        position: relative;
        left: 5%;
    }

    .chat-input input {
        width: 100%;
        max-width: 100%;
    }
}


@media (height > 1200px) {
    .chatbox {
        min-height: 30em;
    }
}