@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --maroon: rgb(78, 2, 2);
    --gold: rgb(255,189,0);
    --white: rgb(255,255,255);
    --black: rgb(0,0,0);
    --cream: rgb(243,239,208);

    font-family: "Inter", serif;
}

button {
    border: 1px solid black;
    border-radius: 999px;
    padding: 0.25em 1em;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #f0f0f0;
}


.swal2-confirm {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 0.5em;
}

.swal2-cancel,
.swal2-error-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 0.5em;
}

.swal2-confirm:hover {
    background-color: #218838;
}

.swal2-cancel:hover,
.swal2-error-button:hover {
    background-color: #c82333;
}



.loading-spinner {
    width: 2em;
    height: 2em;
    border: 0.2em solid #f3f3f3;
    border-top: 0.2em solid #000000;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}